# Configuration du serveur
PORT=3000

# URI de connexion MongoDB
# En local : mongodb://127.0.0.1:27017/mollyshop (ou 27018)
# En ligne (MongoDB Atlas gratuit) : mongodb+srv://<username>:<password>@cluster0.mongodb.net/mollyshop?retryWrites=true&w=majority
MONGO_URI=mongodb://127.0.0.1:27018/mollyshop
